<header>
    <nav class="border-solid border-2 border-gray-100">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <a href="/" title="home" class="navbar-item">
                            <span class="text-3xl">
                                <h1 class="text-gray-600 hover:text-gray-800">{{ .Site.Title }}</h1>
                            </span>
                        </a>
                    </div>

                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            {{ range .Site.Menus.main }}
                            <a href="{{ .URL }}"
                                class="px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-200">{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <!-- Block so that socials are at other end of navbar -->
                <div class="hidden md:block">
                    <div class="ml-3 relative flex items-center md:ml-6">
                        {{ range .Site.Menus.social }}
                        <a href="{{ .URL }}" class="navbar-item is-hidden-touch" title="{{ .Name }}">
                            <span class="icon text-gray-600 hover:text-gray-800 text-3xl">
                                {{ .Pre }}
                            </span>
                        </a>
                        {{ end }}
                    </div>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button
                        class="navbar-burger inline-flex items-center justify-center p-2 rounded-md text-gray-600 hover:text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-700 focus:text-white">
                        <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>

                    </button>
                </div>

            </div>

            <!-- Navbar burger -->
            <div class=" navbar-burger-menu md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}"
                        class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-200">{{ .Name }}</a>
                    {{ end }}
                </div>

            </div>
    </nav>

    <!-- Activate/deactivate burger -->
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger-menu").toggleClass("hidden");
            })
        })
    </script>
</header>