{{ define "main" }}
<main class="mt-20 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-40 flex flex-col justify-center">
    <div class="text-center m-auto">
        <h2 class="tracking-tight leading-10 font-bold text-gray-900 text-5xl sm:text-6xl">
            Hi, I'm
            <span class="text-blue-600 ">Ted</span>
        </h2>
        <div class="pt-5 leading-10  sm:leading-none text-gray-500 sm:mt-5 sm:text-lg  sm:mx-auto md:text-2xl lg:mx-0">
            I'm a junior developer interested in web and iOS development
        </div>
    </div>
</main>
{{ end }}